/* line 1, ../sass/groups.scss */
#groups {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 6, ../sass/groups.scss */
#groups li {
  box-sizing: border-box;
}
/* line 11, ../sass/groups.scss */
#groups.groupSize--1 li {
  padding: 1rem;
  border: 1px solid black;
  text-align: center;
  margin: 0.3rem;
}
/* line 19, ../sass/groups.scss */
#groups.groupSize--2 {
  background-color: white;
}
/* line 22, ../sass/groups.scss */
#groups.groupSize--2 li {
  margin-bottom: 1.3rem;
  padding: 1rem 3rem;
}
/* line 27, ../sass/groups.scss */
#groups.groupSize--2 li:nth-of-type(odd) {
  border: 15px solid black;
  border-right: 0;
  background-color: AliceBlue;
}
/* line 33, ../sass/groups.scss */
#groups.groupSize--2 li:nth-of-type(even) {
  border: 15px solid blue;
  text-align: right;
  border-left: 0;
  background-color: AliceBlue;
}
/* line 40, ../sass/groups.scss */
#groups.groupSize--2 li.solo {
  border: 15px solid red;
}
/* line 45, ../sass/groups.scss */
#groups.groupSize--3 {
  background-color: white;
}
/* line 48, ../sass/groups.scss */
#groups.groupSize--3 li {
  margin-bottom: 1.3rem;
  padding: 1rem 3rem;
}
/* line 53, ../sass/groups.scss */
#groups.groupSize--3 li:nth-of-type(3n+1) {
  border: 15px solid black;
  border-right: 0;
  background-color: AliceBlue;
}
/* line 59, ../sass/groups.scss */
#groups.groupSize--3 li:nth-of-type(3n+2) {
  border: 15px solid red;
  border-right: 0;
  border-left: 0;
  text-align: center;
  background-color: AliceBlue;
}
/* line 67, ../sass/groups.scss */
#groups.groupSize--3 li:nth-of-type(3n+3) {
  border: 15px solid green;
  border-left: 0;
  text-align: right;
  background-color: AliceBlue;
}
/* line 74, ../sass/groups.scss */
#groups.groupSize--3 li.solo {
  border-right: 15px solid red;
}
/* line 80, ../sass/groups.scss */
#groups.groupSize--4 li {
  margin-bottom: 1.3rem;
  padding: 1rem 3rem;
}
/* line 85, ../sass/groups.scss */
#groups.groupSize--4 li:nth-of-type(4n+1) {
  border: 15px solid black;
  border-right: 0;
  background-color: AliceBlue;
}
/* line 91, ../sass/groups.scss */
#groups.groupSize--4 li:nth-of-type(4n+2), #groups.groupSize--4 li:nth-of-type(4n+3) {
  border: 15px solid red;
  border-left: 0;
  text-align: center;
  border-right: 0;
  background-color: AliceBlue;
}
/* line 100, ../sass/groups.scss */
#groups.groupSize--4 li:nth-of-type(4n+4) {
  border: 15px solid brown;
  border-left: 0;
  text-align: right;
  background-color: AliceBlue;
}
/* line 107, ../sass/groups.scss */
#groups.groupSize--4 li.solo {
  border-right: 15px solid brown;
}
/* line 113, ../sass/groups.scss */
#groups.groupSize--5 li {
  margin-bottom: 1.3rem;
  padding: 1rem 3rem;
}
/* line 118, ../sass/groups.scss */
#groups.groupSize--5 li:nth-of-type(5n+1) {
  border: 15px solid black;
  border-right: 0;
  background-color: AliceBlue;
}
/* line 124, ../sass/groups.scss */
#groups.groupSize--5 li:nth-of-type(5n+2), #groups.groupSize--5 li:nth-of-type(5n+3), #groups.groupSize--5 li:nth-of-type(5n+4) {
  border: 15px solid red;
  border-left: 0;
  border-right: 0;
  background-color: AliceBlue;
}
/* line 132, ../sass/groups.scss */
#groups.groupSize--5 li:nth-of-type(5n+5) {
  border: 15px solid brown;
  border-left: 0;
  background-color: AliceBlue;
}
/* line 138, ../sass/groups.scss */
#groups.groupSize--5 li.solo {
  border-right: 15px solid red;
}
