/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_layout.scss */
html {
  box-sizing: border-box;
}

/* line 7, ../sass/_layout.scss */
h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* line 13, ../sass/_layout.scss */
nav ul {
  list-style-type: none;
  padding: 0;
}
/* line 17, ../sass/_layout.scss */
nav ul li {
  display: inline-block;
  margin: 0 10px;
}

/* line 23, ../sass/_layout.scss */
a {
  color: DodgerBlue;
  text-decoration: none;
}
/* line 27, ../sass/_layout.scss */
a:hover {
  color: #005db7;
  text-decoration: underline;
}

/* line 33, ../sass/_layout.scss */
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  display: grid;
  grid-template-rows: 1rem 1fr 1rem;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer";
}

@media only screen and (min-width: 700px) {
  /* line 51, ../sass/_layout.scss */
  #app {
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". header ." ". main ." ". footer .";
  }
}
@media only screen and (min-width: 1200px) {
  /* line 62, ../sass/_layout.scss */
  #app {
    grid-template-columns: 25% 50% 25%;
  }
}
/* line 67, ../sass/_layout.scss */
header {
  grid-area: header;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* line 74, ../sass/_layout.scss */
main {
  grid-area: main;
}

/* line 78, ../sass/_layout.scss */
aside {
  grid-area: aside;
}

/* line 82, ../sass/_layout.scss */
footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
}

/* line 88, ../sass/_layout.scss */
button {
  padding: 0.3rem 0.5rem;
}

/* line 92, ../sass/_layout.scss */
.contacted {
  text-decoration: line-through;
}

/* line 96, ../sass/_layout.scss */
#json-code {
  padding: 1rem;
  background-color: #404052;
  border: 3px solid black;
  color: white;
}

/* line 103, ../sass/_layout.scss */
#input-menu {
  margin: 1rem 0;
}
/* line 106, ../sass/_layout.scss */
#input-menu input {
  margin-bottom: 1rem;
}

/* line 111, ../sass/_layout.scss */
.abstand {
  margin: 0 1rem;
}

/* line 1, ../sass/_groups.scss */
#groups {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 6, ../sass/_groups.scss */
#groups li {
  box-sizing: border-box;
  background-color: AliceBlue;
}
/* line 12, ../sass/_groups.scss */
#groups.groupSize--1 li {
  padding: 1rem;
  border: 3px solid DodgerBlue;
  text-align: center;
  margin: 0.3rem;
}
/* line 22, ../sass/_groups.scss */
#groups.groupSize--2 li {
  margin-bottom: 1.3rem;
  padding: 1rem 3rem;
}
/* line 27, ../sass/_groups.scss */
#groups.groupSize--2 li:nth-of-type(odd) {
  border: 15px solid DodgerBlue;
  border-right: 0;
}
/* line 32, ../sass/_groups.scss */
#groups.groupSize--2 li:nth-of-type(even) {
  border: 15px solid #9ecfff;
  text-align: right;
  border-left: 0;
}
/* line 38, ../sass/_groups.scss */
#groups.groupSize--2 li.solo {
  border-right: 15px solid #9ecfff;
}
/* line 45, ../sass/_groups.scss */
#groups.groupSize--3 li {
  margin-bottom: 1.3rem;
  padding: 1rem 3rem;
}
/* line 50, ../sass/_groups.scss */
#groups.groupSize--3 li:nth-of-type(3n+1) {
  border: 15px solid DodgerBlue;
  border-right: 0;
}
/* line 55, ../sass/_groups.scss */
#groups.groupSize--3 li:nth-of-type(3n+2) {
  border: 15px solid #9ecfff;
  border-right: 0;
  border-left: 0;
  text-align: center;
}
/* line 62, ../sass/_groups.scss */
#groups.groupSize--3 li:nth-of-type(3n+3) {
  border: 15px solid #d1e8ff;
  border-left: 0;
  text-align: right;
}
/* line 68, ../sass/_groups.scss */
#groups.groupSize--3 li.solo {
  border-right: 15px solid #d1e8ff;
}
/* line 74, ../sass/_groups.scss */
#groups.groupSize--4 li {
  margin-bottom: 1.3rem;
  padding: 1rem 3rem;
}
/* line 79, ../sass/_groups.scss */
#groups.groupSize--4 li:nth-of-type(4n+1) {
  border: 15px solid DodgerBlue;
  border-right: 0;
}
/* line 84, ../sass/_groups.scss */
#groups.groupSize--4 li:nth-of-type(4n+2), #groups.groupSize--4 li:nth-of-type(4n+3) {
  border: 15px solid #9ecfff;
  border-left: 0;
  text-align: center;
  border-right: 0;
}
/* line 92, ../sass/_groups.scss */
#groups.groupSize--4 li:nth-of-type(4n+4) {
  border: 15px solid #d1e8ff;
  border-left: 0;
  text-align: right;
}
/* line 98, ../sass/_groups.scss */
#groups.groupSize--4 li.solo {
  border-right: 15px solid #d1e8ff;
}
/* line 104, ../sass/_groups.scss */
#groups.groupSize--5 li {
  margin-bottom: 1.3rem;
  padding: 1rem 3rem;
}
/* line 109, ../sass/_groups.scss */
#groups.groupSize--5 li:nth-of-type(5n+1) {
  border: 15px solid DodgerBlue;
  border-right: 0;
}
/* line 114, ../sass/_groups.scss */
#groups.groupSize--5 li:nth-of-type(5n+2), #groups.groupSize--5 li:nth-of-type(5n+3), #groups.groupSize--5 li:nth-of-type(5n+4) {
  border: 15px solid #9ecfff;
  border-left: 0;
  border-right: 0;
}
/* line 121, ../sass/_groups.scss */
#groups.groupSize--5 li:nth-of-type(5n+5) {
  border: 15px solid #d1e8ff;
  border-left: 0;
  background-color: AliceBlue;
}
/* line 127, ../sass/_groups.scss */
#groups.groupSize--5 li.solo {
  border-right: 15px solid #d1e8ff;
}
