/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/layout.scss */
h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* line 9, ../sass/layout.scss */
nav ul {
  list-style-type: none;
  padding: 0;
}
/* line 13, ../sass/layout.scss */
nav ul li {
  display: inline-block;
  margin: 0 10px;
}

/* line 19, ../sass/layout.scss */
a {
  color: #42b983;
  text-decoration: none;
}
/* line 23, ../sass/layout.scss */
a:hover {
  color: #276e4e;
  text-decoration: underline;
}

/* line 29, ../sass/layout.scss */
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: ". header ." ". main ." ". footer .";
}

/* line 46, ../sass/layout.scss */
header {
  grid-area: header;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* line 53, ../sass/layout.scss */
main {
  grid-area: main;
}

/* line 57, ../sass/layout.scss */
aside {
  grid-area: aside;
}

/* line 61, ../sass/layout.scss */
footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
}

/* line 67, ../sass/layout.scss */
.contacted {
  text-decoration: line-through;
}

/* line 1, ../sass/groups.scss */
#groups {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 6, ../sass/groups.scss */
#groups li {
  box-sizing: border-box;
}
/* line 11, ../sass/groups.scss */
#groups.groupSize--1 li {
  padding: 1rem;
  border: 1px solid black;
  text-align: center;
  margin: 0.3rem;
}
/* line 19, ../sass/groups.scss */
#groups.groupSize--2 {
  background-color: white;
}
/* line 22, ../sass/groups.scss */
#groups.groupSize--2 li {
  margin-bottom: 1.3rem;
  padding: 1rem 3rem;
}
/* line 27, ../sass/groups.scss */
#groups.groupSize--2 li:nth-of-type(odd) {
  border: 15px solid black;
  border-right: 0;
  background-color: AliceBlue;
}
/* line 33, ../sass/groups.scss */
#groups.groupSize--2 li:nth-of-type(even) {
  border: 15px solid blue;
  text-align: right;
  border-left: 0;
  background-color: AliceBlue;
}
/* line 40, ../sass/groups.scss */
#groups.groupSize--2 li.solo {
  border: 15px solid red;
}
/* line 45, ../sass/groups.scss */
#groups.groupSize--3 {
  background-color: white;
}
/* line 48, ../sass/groups.scss */
#groups.groupSize--3 li {
  margin-bottom: 1.3rem;
  padding: 1rem 3rem;
}
/* line 53, ../sass/groups.scss */
#groups.groupSize--3 li:nth-of-type(3n+1) {
  border: 15px solid black;
  border-right: 0;
  background-color: AliceBlue;
}
/* line 59, ../sass/groups.scss */
#groups.groupSize--3 li:nth-of-type(3n+2) {
  border: 15px solid red;
  border-right: 0;
  border-left: 0;
  text-align: center;
  background-color: AliceBlue;
}
/* line 67, ../sass/groups.scss */
#groups.groupSize--3 li:nth-of-type(3n+3) {
  border: 15px solid green;
  border-left: 0;
  text-align: right;
  background-color: AliceBlue;
}
/* line 74, ../sass/groups.scss */
#groups.groupSize--3 li.solo {
  border-right: 15px solid red;
}
/* line 80, ../sass/groups.scss */
#groups.groupSize--4 li {
  margin-bottom: 1.3rem;
  padding: 1rem 3rem;
}
/* line 85, ../sass/groups.scss */
#groups.groupSize--4 li:nth-of-type(4n+1) {
  border: 15px solid black;
  border-right: 0;
  background-color: AliceBlue;
}
/* line 91, ../sass/groups.scss */
#groups.groupSize--4 li:nth-of-type(4n+2), #groups.groupSize--4 li:nth-of-type(4n+3) {
  border: 15px solid red;
  border-left: 0;
  text-align: center;
  border-right: 0;
  background-color: AliceBlue;
}
/* line 100, ../sass/groups.scss */
#groups.groupSize--4 li:nth-of-type(4n+4) {
  border: 15px solid brown;
  border-left: 0;
  text-align: right;
  background-color: AliceBlue;
}
/* line 107, ../sass/groups.scss */
#groups.groupSize--4 li.solo {
  border-right: 15px solid brown;
}
/* line 113, ../sass/groups.scss */
#groups.groupSize--5 li {
  margin-bottom: 1.3rem;
  padding: 1rem 3rem;
}
/* line 118, ../sass/groups.scss */
#groups.groupSize--5 li:nth-of-type(5n+1) {
  border: 15px solid black;
  border-right: 0;
  background-color: AliceBlue;
}
/* line 124, ../sass/groups.scss */
#groups.groupSize--5 li:nth-of-type(5n+2), #groups.groupSize--5 li:nth-of-type(5n+3), #groups.groupSize--5 li:nth-of-type(5n+4) {
  border: 15px solid red;
  border-left: 0;
  border-right: 0;
  background-color: AliceBlue;
}
/* line 132, ../sass/groups.scss */
#groups.groupSize--5 li:nth-of-type(5n+5) {
  border: 15px solid brown;
  border-left: 0;
  background-color: AliceBlue;
}
/* line 138, ../sass/groups.scss */
#groups.groupSize--5 li.solo {
  border-right: 15px solid red;
}
