$brandcolor: DodgerBlue;

html{
  box-sizing: border-box;
}

h1{
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

nav ul{
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 10px;
  }
}

a {
  color: $brandcolor;
  text-decoration: none;

  &:hover{
    color: darken($brandcolor, 20%);
    text-decoration: underline;
  }
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;

  display: grid;
  grid-template-rows:1rem 1fr 1rem;
  grid-template-columns:100%;
  grid-template-areas:
  "header"
  "main"
  "footer"
  ;
}

@media only screen and (min-width: 700px) {
  #app{
    grid-template-columns:10% 80% 10%;
    grid-template-areas:
    ". header ."
    ". main ."
    ". footer ."
    ;
  }
}

@media only screen and (min-width: 1200px) {
  #app{
    grid-template-columns:25% 50% 25%;
  }
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  grid-area: main;
}

aside{
  grid-area: aside;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
}

button{
  padding: 0.3rem 0.5rem;
}

.contacted{
  text-decoration: line-through;
}

#json-code{
  padding: 1rem;
  background-color: #404052;
  border: 3px solid black;
  color: white;
}

#input-menu{
  margin: 1rem 0;

  input{
    margin-bottom: 1rem;
  }
}

.abstand{
  margin: 0 1rem;
}
